@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

@keyframes activity-badge-fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.activity-badge {
  animation: activity-badge-fade-out 5s linear forwards;
}
